.row{
      margin-top: 10px !important;
      margin-bottom: 10px !important;
}

#player-1{
      float: right !important;
}

table, td{
      border: 1px solid black !important;
}

footer {
      text-align: center;
}
